$primary-color: #232323;

$black: #000000;
$dark-gray: #1a1a1a;
$medium-gray: #4d4d4d;
$light-gray: #b3b3b3;
$white: #ffffff;

$accent-color-1: #ee6c4d;
$accent-color-2: #5471d6;
$accent-color-3: #ee6c4d36; //#38c7bd1c;

$background-color: #121212;
$card-background: #2c2c2c;

$text-color-primary: $dark-gray;
$text-color-secondary: $medium-gray;
$text-color-accent: $accent-color-1;

$shadow-color: rgba(0, 0, 0, 0.5);
